{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ],
  "env": {
    "coverage": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
