{
  "extends": "eslint-config-nordnet",
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": [ 2, { "skipShapeProps": true }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
