{
  "extends": "eslint-config-nordnet",
  "rules": {
    "new-cap": [2, {"capIsNewExceptions": ["express.Router"]}],
    "no-param-reassign": [2, { "props": false }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
